:host mat-icon {
    vertical-align: middle;
    margin-right: 10px;
}

.profile-card {
    text-align: center;
    padding: 1.5rem;
}

.profile-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.mat-tree-node {
    font-size: 16px;
}